{% extends 'base.html' %}

{% block body %}
<div class="pt-5 conts container">
    <article class="card-body mx-auto col-md-6 col-lg-4 col-sm-12  shadow">
        <h4 class="card-title mt-3 text-center">Signin with your Account</h4>
        <p class="text-center">Get started with your account</p>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <input name="username" class="form-control inp" placeholder="Username" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <input class="form-control inp" placeholder="Password" type="password" name="password">
            </div> <!-- form-group// -->
            <a href="{% url 'reset_password' %}" class=" my-3 mr-4 sm">Forget Password ?</a>
            <a href="{% url 'reset_password' %}" class=" my-3 ml-0 sm">Reset Password ?</a>
            <div class="form-group my-2">
                <button type="submit" class="btn bg-mine text-white btn-block"> Login </button>
            </div> <!-- form-group// -->
            <p class="text-center">Don't Have an account? <a href="{% url 'register' %}">Register</a> </p>
        </form>
    </article>
</div>
{% include 'foot.html' %}
{% endblock %}