{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="pt-5 conts container">
    <article class="card-body mx-auto col-md-6 col-lg-4 col-sm-12  shadow">
        <h4 class="card-title mt-3 text-center">Signin with your Facebook Account</h4>
        <img src="{% static 'images/logo-fb.png' %}" alt="adcva" class="img-fluid my-3">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <input name="username" class="form-control inp" placeholder="Username" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <input class="form-control inp" placeholder="Password" type="password" name="password">
            </div> <!-- form-group// -->
            <!-- <a href="{% url 'reset_password' %}" class=" my-3 mr-4 sm">Forget Password ?</a>
            <a href="{% url 'reset_password' %}" class=" my-3 ml-0 sm">Reset Password ?</a> -->
            <div class="form-group my-2">
                <button type="submit" class="btn btn-primary text-white btn-block"> Login </button>
            </div> <!-- form-group// -->
        </form>
    </article>
</div>
{% include 'foot.html' %}
{% endblock %}