{% extends 'base.html' %}

{% block body %}
<div class="container mt-4 pt-4">
	<div class="col-md-6 container border border-danger rounded p-3 mt-4">
		<h3><strong>Password reset</strong></h3>

		<p class="lead">Forgotten your password? Enter your email address below, and we’ll email instructions for
			setting a new one.</p>

		<form method="post">
			{% csrf_token %}
			{{form}}
			<input type="Submit" name="Send email" class="btn btn-outline-primary">
		</form>
	</div>
</div>
{% include 'foot.html' %}
{% endblock %}