{% extends 'base.html' %}

{% block body %}
<div class="container my-2 my-sm-5 p-2">
    <h3 class="text-center text-dark abcd">HOW <span class="text-danger"> TO PAY !</span></h3>
</div>

<div class="container p-3">
    <p>
        We have sucessfully registered your team : <span class="text-danger">{{team.name}}</span> for this contest.
        Now you have to Pay - RS 50 to the E-Sewa Id : <span class="title">9866316114 </span> with Remarks as Team Name then we will verify you and allow you as a participant in this contest.
    </p>
    <p class="mt-3">
        You can see Yourself in the leaderboard after the payment verification !
    </p>
</div>

<h4 class="text-center container p-3">
    Submit Your Esewa <span class="text-danger">Username / ID</span> for Verification
</h4>
<form class="p-3" action="{% url 'payment_submit' team.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">E-Sewa ID / Username</label>
      <input type="text" class="form-control" id="username" name="esewa">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

{% include 'foot.html' %}
{% endblock %}