{% extends 'base.html' %}

{% block body %}
<div class="container my-2 my-sm-5 p-2">
    <h3 class="text-center text-dark abcd">UPCOMING <span class="text-danger">MATCHES</span></h3>
</div>

<div class="container conts">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 fonttt">
        {% for match in matches %}
        <a {% if user.is_authenticated %}href="{% url 'team_select' match.match_no %}"{% else %}href="{% url 'login'  %}"{% endif %} class="link">
            <div class="col my-3">
                <div class="rounded shadow-sm">
                    <div class="row row-cols-2 border-bottom p-2 m-2">
                        <div class="col col-9">Indian Premiere League</div>
                        <div class="col col-3"><span class="badge bg-danger">Match {{match.match_no}}</span></div>
                    </div>
                    <div class="row row-cols-2 p-2 m-2">
                        <div class="col">{{match.teama}}</div>
                        <div class="col text-right">{{match.teamb}}</div>
                    </div>
                    <div class="row m-2">
                        <div class="col"><img src="{{match.teama.logo.url}}" alt="" class="img-fluid"></div>
                        <div class="col text-center text-danger">{{match.match_date}}</div>
                        <div class="col text-right"><img src="{{match.teamb.logo.url}}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="row row-cols-3 m-0 bg-light rounded-bottom py-1">
                        <div class="col-2"></div>
                        <div class="col-8 text-center">Create
                            Team Now</div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}        
    </div>
</div>
{% include 'foot.html' %}
{% endblock %}